.movies-card {
    height: 271px;
    width: 364px;
    background-color: #222222;
}

.movies-card__top-container {
    height: 68px;
    width: 364px;
    display: flex;
}

.movies-card__info-container {
    height: 40px;
    width: 292px;
    margin: 14px 0 14px 14px;
}

.movies-card__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 9px;
}

.movies-card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
    margin: 0;
}

.movies-card__add-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
    outline: none;
    background-image: url(../../images/card-unsaved.svg);
    transition: .25s;
    margin: auto;
    padding: 0;
}

.movies-card__add-button:hover {
    opacity: .8;
    cursor: pointer;
    transition: .2s;
}

.movies-card__add-button:checked {
    background-image: url(../../images/card-saved.svg);
}

.movies-card__delete-button {
    background-image: url(../../images/card-delete.svg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
    outline: none;
    margin: auto;
    border: none;
    padding: 0;
    background-color: #313131;
}

.movies-card__delete-button:hover {
    opacity: .8;
    cursor: pointer;
    transition: .2s;
}

.movies-card__image {
    width: 364px;
    height: 203px;
}

@media screen and (max-width: 1279px) {
    .movies-card {
        width: 339px;
        height: 258px;
    }

    .movies-card__info-container {
        width: 250px;
    }

    .movies-card__top-container {
        width: 339px;
    }

    .movies-card__add-button,
    .movies-card__delete-button {
        margin: auto 0 auto 31px;
    }

    .movies-card__image {
        width: 339px;
        height: 190px;
    }
}

@media screen and (max-width: 767px) {
    .movies-card {
        width: 300px;
        height: 236px;
    }

    .movies-card__info-container {
        width: 210px;
    }

    .movies-card__top-container {
        width: 300px;
    }

    .movies-card__add-button,
    .movies-card__delete-button {
        margin: auto 0 auto 32;
    }

    .movies-card__image {
        width: 300px;
        height: 168px;
    }
}