.profile {
    height: calc(100vh - 214px);
    background-color: #202020;
    padding: 70px calc((100% - 1140px) / 2);
}

.profile__greeting {
    margin: 0 0 123px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__info-container {
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid #424242;
    margin: 0 auto 17px;
    justify-content: space-between;
    width: 410px;
}

.profile__info-container:last-of-type {
    margin: 0 auto;
    padding: 0;
    border: none;
}

.profile__info-title {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    width: 60px;
}

.profile__info-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    margin: 0;
    background-color: #202020;
    padding: 0;
    border: none;
    color: white;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__span {
    margin: auto auto 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FF004C;
}

.profile__span_disabled {
    display: none;
}

.profile__edit-button {
    margin: auto auto 16px;
    padding: 0;
    background-color: #202020;
    border: none;
    display: block;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.profile__edit-button:hover {
    opacity: .7;
    transition: .2s;
    cursor: pointer;
}

.profile__logout-button {
    padding: 0;
    background-color: #202020;
    border: none;
    margin: 0 auto;
    display: block;
    color: #EE3465;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.profile__logout-button:hover {
    opacity: .7;
    transition: .2s;
    cursor: pointer;
}

.profile__save-button {
    background-color: #3456F3;
    border-radius: 3px;
    padding: 0;
    border: none;
    width: 410px;
    height: 45px;
    color: white;
    margin: auto auto 0;
}

.profile__save-button:hover {
    opacity: .8;
    cursor: pointer;
    transition: .2s;
}

.profile__save-button_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
    margin: 20px auto 0;
}

.profile__save-button_disabled:hover {
    opacity: 1;
    cursor: default;
}

.profile__form {
    height: calc(100% - 152px);
    flex-direction: column;
    display: flex;
}

@media screen and (max-width: 1279px) {
    .profile {
        padding: 236px 0 269px;
        height: 445px;
    }

    .profile__greeting {
        margin-bottom: 96px;
    }

    .profile__span {
        font-size: 10px;
        line-height: 12px;
    }

    .profile__form {
        height: calc(100% - 125px);
    }
}

@media screen and (max-width: 767px) {
    .profile {
        padding: 70px 0 40px;
        height: 596px;
        min-height: calc(100vh - 184px);
    }

    .profile__greeting {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 80px;
    }

    .profile__edit-button,
    .profile__logout-button {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__info-container {
        width: 260px;
    }

    .profile__save-button {
        width: 260px;
    }

    .profile__form {
        height: calc(100% - 109px);
    }
}