.promo {
    min-height: 450px;
    background-color: #073042;
    padding: 50px calc((100% - 1140px) / 2) 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo__title {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    max-width: 624px;
}

.promo__image {
    height: 244px;
    width: 722px;
    align-self: flex-end;
    justify-self: flex-end;
}