.promo {
    height: 450px;
    background-color: #073042;
    padding: 50px calc((100% - 1140px) / 2) 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo__title {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    max-width: 624px;
}

.promo__image {
    height: 244px;
    width: 722px;
    margin: 102px 0 0 auto;
}

@media screen and (max-width: 1279px) {
    .promo {
        width: calc(100vw - 88px);
        padding: 300px 44px 70px;
        height: 474px;
    }

    .promo__title {
        text-align: center;
        margin: 0 auto;
    }

    .promo__image {
        width: 680px;
        height: 230px;
        margin: 140px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .promo {
        width: calc(100vw - 20px);
        padding: 183px 10px 40px;
        max-height: 407px;
        display: block;
    }

    .promo__title {
        max-width: none;
        font-weight: 400;
        font-size: 31px;
        line-height: 39px;
        text-align: center;
        letter-spacing: -0.04em;
    }

    .promo__image {
        margin: 60px calc((100% - 680px) / 2) 0;
    }
}