.card__delete-button {
    background-image: url(../../../images/card-delete.svg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
    outline: none;
    margin: auto;
    border: none;
    padding: 0;
    background-color: #313131;
}