.search-form {
    height: 72px;
    background-color: #202020;
    padding: 70px calc((100% - 1140px) / 2) 0;
}

.search-form__input-container {
    height: 69px;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    border-radius: 8px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 110px;
    gap: 10px;
}

.search-form__input {
    margin: 0 0 0 25px;
    width: calc(100% - 25px);
    border: none;
    background-color: #202020;
    color: white;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

.search-form__input:focus {
    outline: none;
    appearance: none;
}

.search-form__submit {
    height: 52px;
    width: 100px;
    margin: 0 10px 0 0;
    background-color: #4285F4;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0;
}

.search-form__submit:hover {
    opacity: .8;
    cursor: pointer;
    transition: .2s;
}

@media screen and (max-width: 1279px) {
    .search-form {
        width: calc(100vw - 60px);
        padding: 70px 30px 0;
        height: 72px;
    }
}

@media screen and (max-width: 767px) {
    .search-form {
        width: calc(100vw - 28px);
        padding: 70px 14px 0;
        height: 56px;
    }

    .search-form__input-container {
        height: 53px;
        grid-template-columns: auto 86px;
    }

    .search-form__input {
        margin: 0 0 0 12px;
        font-size: 16px;
        line-height: 16px;
    }

    .search-form__submit {
        width: 80px;
        height: 44px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-right: 6px;
    }
}