.filter-checkbox {
    background-color: #202020;
    padding: 26px calc((100% - 1140px) / 2) 10px;
}

.filter-checkbox__tumbler-container {
    height: 20px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
    display: flex;
    padding-bottom: 43px;
}

.filter-checkbox__tumbler {
    position: relative;
    width: 36px;
    height: 20px;
    appearance: none;
    background-color: #343434;
    border-radius: 20px;
    outline: none;
}

.filter-checkbox__tumbler::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #A0A0A0;
    border: 1px solid #FFF;
    transition: 0.3s;
}

.filter-checkbox__tumbler:checked::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 2px;
    left: 18px;
    background-color: #2BE080;
    border: 1px solid #FFF;
}

.filter-checkbox__tumbler-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 1px 0 0 14px;
}

@media screen and (max-width: 1279px) {
    .filter-checkbox {
        width: calc(100vw - 60px);
        padding: 26px 30px 0;
        height: 82px;
    }
}

@media screen and (max-width: 767px) {
    .filter-checkbox {
        width: calc(100vw - 28px);
        padding: 30px 14px 0;
        height: 94px;
    }

    .filter-checkbox__tumbler-container {
        padding-bottom: 55px;
    }

    .filter-checkbox__tumbler-name {
        font-size: 11px;
        line-height: 18px;
        margin-left: 13px;
    }
}