.footer {
    background-color: #202020;
    height: 73px;
    padding: 79px calc((100% - 1140px) / 2) 20px;
}

.footer__info {
    margin: 0;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border-bottom: 1px solid #424242;
    padding: 0 0 19px;
}

.footer__bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links-container {
    display: flex;
}

.footer__link {
    color: white;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__link:hover {
    opacity: .7;
    transition: .2s;
}

.footer__link:last-of-type {
    margin: 0;
}