.footer {
    background-color: #202020;
    height: 73px;
    padding: 79px calc((100% - 1140px) / 2) 20px;
}

.footer__info {
    margin: 0;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border-bottom: 1px solid #424242;
    padding: 0 0 19px;
}

.footer__bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links-container {
    display: flex;
}

.footer__link {
    color: white;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__link:hover {
    opacity: .7;
    transition: .2s;
}

.footer__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: calc(100vw - 60px);
        padding: 79px 30px 20px;
        height: 73px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100vw - 20px);
        padding: 79px 10px 10px;
        height: 181px;
    }

    .footer__info {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 20px;
    }

    .footer__bottom-container {
        margin: 30px 0 0;
        flex-direction: column;
    }

    .footer__copyright {
        margin-top: auto;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        color: #8B8B8B;
        margin-top: 30px;
    }

    .footer__link {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 12px;
        text-align: center;
    }

    .footer__links-container {
        flex-direction: column;
    }
}